{% block imports %}{% endblock imports%}public class JavaRunner
{
	{% block main_header %}public static void main(String[] args){% endblock main_header %}
	{
		{% block main %}{% endblock main %}
	}
}
