{% extends "JavaRunner.tmpl" %}
{% block main %}int {{ code.variable_one }} = {{ code.value_one }};
		int {{ code.variable_two }} = {{ code.value_two}};
		if( {{ code.variable_one }} {{ code.condition }} {{ code.variable_two }})
			System.out.println("{{ code.word_true }}");
		System.out.println("{{ code.word_false }}");{% endblock main %}
